<section class="site">
    <div class="site__main">
        <h1 class="site__main__title">MyToDo Application by Roland Tóth</h1>
        <form class="site__main__form" [formGroup]="addTodoForm">
            <div class="form-group" [ngClass]="{'error': addTodoForm.controls.todoName.errors?.required && toggleErrors}">
                <input type="text" placeholder="Write your todo here" formControlName="todoName">
            </div>
            <div class="form-group">
                <input matInput [matDatepicker]="picker"  placeholder="Choose a date" formControlName="todoDate" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </div>
            <div class="btn-wrap">
                <button type="button" (click)="addTodo()">Add ToDo</button>
            </div>
        </form>
        <ul class="site__main__list" cdkDropList *ngIf="todos.length > 0" (cdkDropListDropped)="drop($event)">
            <li class="site__main__list__item" cdkDrag *ngFor="let todo of todos; let i = index;">
                <div class="site__main__list__item__info">
                        <mat-checkbox disabled="true" [checked]="todo.isDone" (click)="toggleChecked(i)"></mat-checkbox>
                    <h2>{{todo.name}}</h2>
                    <p class="date">{{todo.date}}</p>
                </div>
                <div class="site__main__list__item__actions">
                    <div class="close" (click)="removeTodo(i)">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </li>
        </ul>
        <div class="site__main__default" *ngIf="todos.length < 1">
            <p>There are no todos yet.</p>
        </div>
        <div class="undo" *ngIf="removed.length > 0">
            <h3>A todo has been removed.</h3>
            <div class="btn-wrap">
                <button type="button" (click)="undoItem()">Restore</button>
            </div>
        </div>
    </div>
</section>
